## Príprava dát

Súbor: priprava_dat.ipynb

Program: Hospodárska informatika

Vypracovala: Terézia Drengubiaková

Bakalárska práca: : Prediktívne modely v spracovaní dát z oblasti kozmického počasia

Vedúci diplomovej práce: doc. Ing. Peter Butka, PhD.

Konzultanti: Ing. Viera Maslej Krešňáková, PhD., RNDr. Šimon Mackovjak, PhD.

In [1]:
import numpy as np
import pandas as pd
import datetime
import math
from scipy import stats
import seaborn as sns
import matplotlib.dates as md
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib.ticker import MaxNLocator

In [2]:
df = pd.read_csv('omni_full.csv')

In [3]:
df = df.drop(columns=["Unnamed: 0"])

In [4]:
df.columns

Index(['time1', 'Rot$', 'IMF', 'PLS', 'IMF_PTS', 'PLS_PTS', 'ABS_B', 'F',
       'THETA_AV', 'PHI_AV', 'BX_GSE', 'BY_GSE', 'BZ_GSE', 'BY_GSM', 'BZ_GSM',
       'SIGMA$ABS_B', 'SIGMA$B', 'SIGMA$Bx', 'SIGMA$By', 'SIGMA$Bz', 'T', 'N',
       'V', 'PHI$V', 'THETA$V', 'Ratio', 'Pressure', 'SIGMA$T', 'SIGMA$N',
       'SIGMA$V', 'SIGMA$PHI$V', 'SIGMA$THETA$V', 'SIGMA$ratio', 'E', 'Beta',
       'Mach_num', 'Mgs_mach_num', 'PR$FLX_1', 'PR$FLX_2', 'PR$FLX_4',
       'PR$FLX_10', 'PR$FLX_30', 'PR$FLX_60', 'MFLX', 'R', 'F10_INDEX', 'KP',
       'DST', 'AE', 'AP_INDEX', 'AL_INDEX', 'AU_INDEX', 'PC_N_INDEX',
       'Solar_Lyman_alpha', 'Proton_QI'],
      dtype='object')

In [5]:
len(df)

520443

In [6]:
df.shape

(520443, 55)

In [7]:
df["DST+1"]=df.DST.shift(periods=0) 
df["DST+2"]=df.DST.shift(periods=-1) 
df["DST+3"]=df.DST.shift(periods=-2) 
df["DST+4"]=df.DST.shift(periods=-3) 
df["DST+5"]=df.DST.shift(periods=-4) 
df["DST+6"]=df.DST.shift(periods=-5)

In [8]:
df[["time1","DST", "DST+1", "DST+2", "DST+3", "DST+4", "DST+5", "DST+6"]].head(7)

                 time1  DST  DST+1  DST+2  DST+3  DST+4  DST+5  DST+6
0  1963-01-01 01:00:00 -5.0   -5.0   -5.0   -3.0   -3.0   -6.0   -8.0
1  1963-01-01 02:00:00 -5.0   -5.0   -3.0   -3.0   -6.0   -8.0   -9.0
2  1963-01-01 03:00:00 -3.0   -3.0   -3.0   -6.0   -8.0   -9.0   -6.0
3  1963-01-01 04:00:00 -3.0   -3.0   -6.0   -8.0   -9.0   -6.0   -2.0
4  1963-01-01 05:00:00 -6.0   -6.0   -8.0   -9.0   -6.0   -2.0   -2.0
5  1963-01-01 06:00:00 -8.0   -8.0   -9.0   -6.0   -2.0   -2.0   -5.0
6  1963-01-01 07:00:00 -9.0   -9.0   -6.0   -2.0   -2.0   -5.0   -6.0

In [9]:
df["BZ_GSM-1"]=df.BZ_GSM.shift(periods=+1) 
df["BZ_GSM-2"]=df.BZ_GSM.shift(periods=+2) 
df["BZ_GSM-3"]=df.BZ_GSM.shift(periods=+3) 
df["BZ_GSM-4"]=df.BZ_GSM.shift(periods=+4) 
df["BZ_GSM-5"]=df.BZ_GSM.shift(periods=+5) 
df["BZ_GSM-6"]=df.BZ_GSM.shift(periods=+6) 
df["BZ_GSM-7"]=df.BZ_GSM.shift(periods=+7) 
df["BZ_GSM-8"]=df.BZ_GSM.shift(periods=+8) 
df["BZ_GSM-9"]=df.BZ_GSM.shift(periods=+9) 
df["BZ_GSM-10"]=df.BZ_GSM.shift(periods=+10) 
df["BZ_GSM-11"]=df.BZ_GSM.shift(periods=+11) 
df["BZ_GSM-12"]=df.BZ_GSM.shift(periods=+12) 
df["BZ_GSM-13"]=df.BZ_GSM.shift(periods=+13) 
df["BZ_GSM-14"]=df.BZ_GSM.shift(periods=+14) 
df["BZ_GSM-15"]=df.BZ_GSM.shift(periods=+15) 
df["BZ_GSM-16"]=df.BZ_GSM.shift(periods=+16) 
df["BZ_GSM-17"]=df.BZ_GSM.shift(periods=+17) 
df["BZ_GSM-18"]=df.BZ_GSM.shift(periods=+18) 
df["BZ_GSM-19"]=df.BZ_GSM.shift(periods=+19) 
df["BZ_GSM-20"]=df.BZ_GSM.shift(periods=+20) 
df["BZ_GSM-21"]=df.BZ_GSM.shift(periods=+21) 
df["BZ_GSM-22"]=df.BZ_GSM.shift(periods=+22) 
df["BZ_GSM-23"]=df.BZ_GSM.shift(periods=+23) 
df["BZ_GSM-24"]=df.BZ_GSM.shift(periods=+24)

In [10]:
df.columns

Index(['time1', 'Rot$', 'IMF', 'PLS', 'IMF_PTS', 'PLS_PTS', 'ABS_B', 'F',
       'THETA_AV', 'PHI_AV', 'BX_GSE', 'BY_GSE', 'BZ_GSE', 'BY_GSM', 'BZ_GSM',
       'SIGMA$ABS_B', 'SIGMA$B', 'SIGMA$Bx', 'SIGMA$By', 'SIGMA$Bz', 'T', 'N',
       'V', 'PHI$V', 'THETA$V', 'Ratio', 'Pressure', 'SIGMA$T', 'SIGMA$N',
       'SIGMA$V', 'SIGMA$PHI$V', 'SIGMA$THETA$V', 'SIGMA$ratio', 'E', 'Beta',
       'Mach_num', 'Mgs_mach_num', 'PR$FLX_1', 'PR$FLX_2', 'PR$FLX_4',
       'PR$FLX_10', 'PR$FLX_30', 'PR$FLX_60', 'MFLX', 'R', 'F10_INDEX', 'KP',
       'DST', 'AE', 'AP_INDEX', 'AL_INDEX', 'AU_INDEX', 'PC_N_INDEX',
       'Solar_Lyman_alpha', 'Proton_QI', 'DST+1', 'DST+2', 'DST+3', 'DST+4',
       'DST+5', 'DST+6', 'BZ_GSM-1', 'BZ_GSM-2', 'BZ_GSM-3', 'BZ_GSM-4',
       'BZ_GSM-5', 'BZ_GSM-6', 'BZ_GSM-7', 'BZ_GSM-8', 'BZ_GSM-9', 'BZ_GSM-10',
       'BZ_GSM-11', 'BZ_GSM-12', 'BZ_GSM-13', 'BZ_GSM-14', 'BZ_GSM-15',
       'BZ_GSM-16', 'BZ_GSM-17', 'BZ_GSM-18', 'BZ_GSM-19', 'BZ_GSM-20',
       'BZ_GSM-21', 'BZ_GSM-22', 'BZ_GSM-23', 'BZ_GSM-24'],
      dtype='object')

In [11]:
df.to_csv('allDST_omni.csv')